<main role="main">
    <article class="row post">
        <header class="col-xs-12">
        <div class="col-md-10 no-margin no-padding post">
            <h1 class="title">{{ .Title }}</h1>
             </div>
            <div class="col-md-2">
                
            </div>

        </header>
        <div class="col-xs-12 subhead">
            Published on <time datetime={{ .PublishDate.Format "2 January 2006" }}>{{ .PublishDate.Format "2 January 2006" }}</time>. Filed under {{- partial "post-tags.html" . -}}
        </div>

        <section class="col-xs-12">
            {{ .Content }}
        </section>

        <footer class="col-xs-12 author">
            <hr>
        </footer>
    </article>
</main>